body {
  width: 1000px;
  margin: 0 auto;
  padding: 50px 0px;
}

/*status-bar*/
.status-bar {
  position: fixed;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.menu {
  height: 30px;
  width: 30px;
}

.fa-search {
  position: absolute;
  left: 850px;
  top: 6px;
  font-size: 30px;
}
.profile {
  display: flex;
  justify-content: center;
  background-color: #e4e9f1;
  border-radius: 5px;
  height: 35px;
  width: 35px;
}

.user {
  height: 35px;
  width: 35px;
}

/*main-top*/
main {
  margin-top: 50px;
  padding-top: 40px;
}

header {
  display: flex;

}

.detail {
  margin-left: auto;
}

.list-one, .list-two, .fa-caret-down {
  font-size: 20px;
  color: #848484;
}

.list-right {
  margin-left: 35px;
}

.detail-icon {
  font-size: 50px;
  color: #ff6827;
}

/*main-under*/

.main-under {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 30px;
}

.result-box_one, .result-box_two, .result-box_three {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #ff6827;
  width: 800px;
  height: 400px;
  border-radius: 20px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.result-box_one, .result-box_two {
  margin-bottom: 25px;
}

.result_box-img {
  margin-left: 60px;
  border: 2px solid #ae9898;
  background-color: none;
}

.store-img {
  width: 250px;
  height: 250px;
}

.result-box_explain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 380px;
  height: 350px;
}

h1 {
  position: relative;
  top: -55px;
  right: -10px;
  font-size: 45px;
  color: white;
}

.store-location {
  position: relative;
  top: -55px;
  left: -35px;
  font-size: 30px;
  color: white;
}

.store-location_address {
  margin-left: 10px;
}

.hashtag {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -50px;
  top: -20px;
  background-color: #cf5835;
  width: 400px;
  height: 100px;
  color: white;
  border-radius: 10px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  font-size: 20px;
  padding: 0px 15px 0px 15px;
}

.detail-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -140px;
  bottom: -10px;
  background-color: white;
  color: #ff6827;
  font-size: 20px;
  font-weight: 700;
  width: 200px;
  height: 50px;
  border-radius: 100px;
  border: 3px solid #ff6827;
  box-shadow: 5px 5px 5px #c2501e, -5px 5px 5px #c2501e ;
}

