
$orange: #FF6827;

.index-cont {
    position: relative;
    .map {
        width: 100vw;
        height: 100vh;
        background: #333;
    }
    .head-cont {
        position: absolute;
        text-align: center;
        padding: 20px 30px;
        width: 700px;
        height: 160px;
        background: $orange;
        top: 40px;
        left: 50%;
        border-radius: 30px;
        transform: translateX(-50%);
        box-sizing: border-box;
        .index-nav-cont {
            height: 100%;
            .main-nav {
                transform: translateY(50%);
                h1 {
                    color: #fff;
                    font-size: 38px;
                    font-weight: 700;
                }
                form {
                    margin: 0 auto;
                    padding: 5px -5px;
                    width: 280px;
                    border-radius: 20px;
                    background-color: #fff;
                    #searchInput {
                        border: none;
                        padding: 10px;
                    }
                    #searchBtn {
                        color: $orange;
                    }
                }
            }
        }
        .search-nav-cont {
            display: none;
        }
    }
}